@import 'variables.scss';
@import 'card-price.scss';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");
body {
    background-color: #141b1c;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
}

main {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}