$color-bg-black: #141b1c;
$color-bg-gray: #334247;
$color-bg-dark-gray: #2a3438;
$color-bg-green: #5bb189;
$color-bg-blue: #3a6ba5;
$color-bg-orange: #ec632a;
$color-bg-tape: #dc3f45;
$color-text: #ffffff;